    body{
        background: linear-gradient(rgb(156, 79, 150),rgb(255, 99, 85),rgb(251, 169, 73),rgb(250, 228, 66),rgb(139, 212, 72),rgb(42, 168, 242));
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }
h1{
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: rgb(255,255,255);
    padding: 10px 0;
    border-radius: 7px;
    width: 300px;
    height: auto;
    max-width: 100%;
    margin-left: 40%;
}
.marker{
    width: 200px;
    height: 25px;
    margin: 20px auto;
}
.red{
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}
.orange{
    background: linear-gradient(rgb(255,191,0),rgb(204,85,0),rgb(255,103,0));
    box-shadow:0 0 20px 0 rgba(243, 110, 2, 0.892);
}
.yellow{
    background: linear-gradient(rgb(255, 241, 146),rgb(255, 212, 0),rgb(255, 234, 97));
    box-shadow:0 0 20px 0 rgba(243, 231, 2, 0.892);
}
.green{
    background: linear-gradient(rgb(54, 203, 40),rgb(9, 189, 78),rgb(17, 167, 127));
    box-shadow:0 0 20px 0 #1fb21f;
}
.blue{
    background: linear-gradient(rgb(12, 166, 201),rgb(22, 22, 213),rgb(61, 21, 222));
    box-shadow:0 0 20px 0 #0004f1;
}
.indigo{
    background: linear-gradient(rgb(109, 48, 145),rgb(127, 24, 150),rgb(127, 4, 250));
    box-shadow:0 0 20px 0 #4b0082;
}
.violet{
    background: linear-gradient(rgb(228, 12, 210),rgb(158, 20, 133),rgb(246, 5, 242));
    box-shadow:0 0 20px 0 rgba(131, 2, 243, 0.892);
}
.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0,0,0,75%);
  }
.cap{
    width: 60px;
    height: 25px;
}
.sleeve,.cap{
    display: inline-block;
}
